*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #F9FBFC;
}

.TopSide{
    height: 50%;
    background-color: #1D539E;
}

.BottomSide{
    display: flex;
    flex-direction: column;
 
    align-items: center;
    position: absolute;
    height: 50%;
    width: 100%;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    color: white;
}

h1{
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
}

.container{
    display: flex;
    gap: 20px;
    margin-top: 75px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.container div{
    padding: 30px;
    height: 470px;
    border-radius: 8px;
    background-color: white;
    outline: 0.5px solid rgba(142, 150, 185, 0.25);
    position: relative;
}

a:hover{
    background-color: #1D539E;
    color: #FFFFFF;
}

.hovercontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 76px;
  width: 355px;  
  background-color: #FFCC29;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.h2hover{
  color: #1D539E;
  margin-left: 30px;
}

.hovercontainer span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 32px;
  width: 94px;
  background-color: #1D539E;
  border-radius: 40px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}

h2{
    font-weight: 600;
    font-size: 18px;
    color: #1E2338;
}

.Valor{
    display: block;
    margin-top: 20px;
}

h3{
    display: inline;
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    color: #1E2338;
}

.Valor p{
    display: inline;
}

h4{
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #828799;
}

.divider{
    display: block;
    height: 1px;
    width: 295px;
    margin-top: 20px;
    background-color: #EEEEEE;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    list-style: none;
}

ul li img{
    display: inline;
}

ul li p{
    display: inline;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #828799;
}

a{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px 24px;
    height: 49px;
    width: 100%;
    border: 1px solid #1D539E;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #1D539E;

}

.free a{
    margin-top: 120px;
}

.basic a{
    margin-top: 78px;
}

.professional a{
    margin-top: 36px;
}

@media (max-width:1105px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .BottomSide div{
        top: 0;
    }
}